<?xml version='1.0' encoding='utf-8'?>
<widget id="edu.rutgers.gato" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Gato</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="schliep@cs.rutgers.edu" href="http://bioinformatics.rutgers.edu">
        SchliepLab
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Orientation" value="landscape" />
    <preference name="orientation" value="landscape" />
    <preference name="DisallowOverscroll" value="true"/>
</widget>
