include AnimatedAlgorithms.py
include AnimatedDataStructures.py
include AnimationHistory.py
include DataStructures.py
include EditObjectAttributesDialog.py
include Embedder.py
include Gato.py
include GatoConfiguration.py
include GatoDialogs.py
include GatoExport.py
include GatoFile.py
include GatoGlobals.py
include GatoIcons.py
include GatoSystemConfiguration.py
include GatoUtil.py
include Graph.py
include GraphCreator.py
include GraphDisplay.py
include GraphEditor.py
include GraphUtil.py
include Gred.py
include HMMEd.py
include HMMXML.py
include MapEditor.py
include ObjectGraph.py
include ObjectGred.py
include PlanarEmbedding.py
include PlanarityTest.py
include ProbEditorBasics.py
include ProbEditorContinuous.py
include ProbEditorDialogs.py
include ProbEditorWidgets.py
include TextTreeWidget.py
include TreeWidget.py
include __init__.py
include setup.py
include scripts/Gato
include scripts/Gred
include BFS.alg
include BFS.pro
include DFS.alg
include DFS.pro
include sample.cat
include README
include LGPL.txt
include MANIFEST.in
exclude *3D*
exclude build*
exclude *win*
exclude convert*
exclude GatoDemo.py
exclude *.pyc
exclude mist*
exclude test*