<!DOCTYPE html>
<html>
<head>
<title>WebGato Index</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/index.css" rel="stylesheet" />
</head>
<body>
	<div class="fixed_top_nav well">
		Go to Chapter: 
		{% for chapter_dict in svg_instance %}
		<a href="#chapter_{{ chapter_dict['chapter_number'] }}_div">{{ chapter_dict['chapter_number'] }}</a>
		{% endfor %}
	</div>
	<div class="container" style="margin-top: 30px"> <!-- add margin-top to push down for nav -->
		<div class="row">
			<div class="header col-xs-12">
				<h1>WebGato</h1>
			</div>
		</div>

	{% for chapter_dict in svg_instance %}
		
		<div id="chapter_{{ chapter_dict['chapter_number'] }}_div" class="chapter_div well row">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12">
						<h2>Chapter {{ chapter_dict['chapter_number'] }}: {{ chapter_dict['title'] }}</h2>
					</div>
				</div>
					
				{% for algo in chapter_dict['algorithms'] %}
				<div class="algo_div row">
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-12">
								<h3>{{ algo['title'] }}</h3>
								<p class="algo_p">{{ algo['description'] }}</p>
							</div>
						</div>

						{% for graph in algo['graphs'] %}
						{% if loop.index0 % 4 == 0 %}
						<div class="row">
						{% endif %}
							<div class="graph_div col-xs-12 col-sm-6 col-md-3">
								<h3><a href="{{ svg_locations[algo['title'] + graph] }}">{{ graph_pngs[graph]['name'] }}</a></h3>
								<a href="{{ svg_locations[algo['title'] + graph] }}">
									<img class="graph_img" src="{{ graph_pngs[graph]['file'] }}" />
								</a>
								<p class="graph_img_description">{{ graph_descriptions[graph] }}</p>
							</div>
						
						{% if loop.index0 % 4 == 3 and not loop.last %}
						</div>
						{% endif %}
						{% endfor %}
						</div>
					</div>

				</div>
				{% endfor %}

			</div>
		</div>

	{% endfor %}
	</div>
</body>
</html>