<!DOCTYPE html>
<html>
<head>
<title>CATBox Index</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/index.css" rel="stylesheet" />
</head>
<body id="body">
	<div id="top_logo_div">
		<img src="img/catboxLogo279x104.png" />
	</div>
	
	<div id="master_container" class="container page-wrap">

	{% for chapter_dict in svg_instance %}
		
		<div id="chapter_{{ chapter_dict['chapter_number'] }}_div" class="chapter_div row">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12">
						<h2>{{ chapter_dict['chapter_number'] }} {{ chapter_dict['title'] }}</h2>
					</div>
				</div>
					
				{% for algo in chapter_dict['algorithms'] %}
				<div id="{{ algo['algo_div_id'] }}" class="algo_div row">
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-12">
								<h3>{{ algo['title'] }}</h3>
								<p class="algo_p">{{ algo['description'] }}</p>
							</div>
						</div>

						{% for graph in algo['graphs'] %}
						{% if loop.index0 % 4 == 0 %}
						<div class="row">
						{% endif %}
							<div class="graph_div col-xs-12 col-sm-6 col-md-3">
								
								<a href="{{ svg_locations[algo['title'] + graph] }}">
									<img class="graph_img" src="{{ graph_pngs[graph]['file'] }}" style="width: {{ graph_pngs[graph]['width'] }}px; height: {{ graph_pngs[graph]['height'] }}px"/>
								</a>
								<p><a href="{{ svg_locations[algo['title'] + graph] }}">{{ graph_pngs[graph]['name'] }}</a></p>
							</div>
						
						{% if loop.index0 % 4 == 3 and not loop.last %}
						</div>
						{% endif %}
						{% endfor %}
						</div>
					</div>

				</div>
				{% endfor %}

			</div>
		</div>

	{% endfor %}
		<div style="margin-top: 20px; font-size: 12px">
				The <a href="http://sourceforge.net/p/gato/code/HEAD/tree/trunk/Gato/svgs/js/" style="text-decoration: none">Javascript that powers CATBox</a> was created by <a href="mailto:sbmerkling@gmail.com">Scott Merkling</a> and Matthew Mitsui.  Each animation 
				is created with <a href="http://gato.sourceforge.net/">Gato</a>, the original desktop version of this software.
		</div>
	</div>
	<div class="fixed_bottom_nav">
		<div class="find_nav_item" >
			Go To
		</div>
		<div class="drop_up_holder">
			<div id="chapter_nav" class="invisible nav_drop_up">
				<ul class="nav_ul">
					{% for chapter_dict in svg_instance %}
					<a href="#chapter_{{ chapter_dict['chapter_number'] }}_div">
						<li>{{ chapter_dict['chapter_number'] }} {{ chapter_dict['title'] }}
						</li>
					</a>
					{% endfor %}
				</ul>
			</div>
		</div>
		<a id="chapter_nav_link" class="nav_link">
			<div id="chapter_nav_item" class="nav_item" >
				Chapter
			</div>
		</a>
		<div class="drop_up_holder">
			<div id="alpha_nav" class="invisible nav_drop_up">
				<ul class="nav_ul">
					{% for algo in alphabetic_algorithms %}
					<a href="#{{ algo.algo_div_id }}">
						<li>{{ algo.title }}</li>
					</a>
					{% endfor %}					
				</ul>
			</div>
		</div>
		<a id="alpha_nav_link" class="nav_link">
			<div id="alpha_nav_item" class="nav_item" >
				Algorithm
			</div>
		</a>
		<div class="nav_item" >
			<a href="help.html" class="nav_link">? Help</a>
		</div>
	</div>
	<script type="text/javascript" src="js/util.js"></script>
	<script type="text/javascript">
		function offsetAnchor() {
		    if(location.hash.length !== 0) {
		        window.scrollTo(window.scrollX, window.scrollY - 100);
		    }
		}
		window.addEventListener("hashchange", function() {
			offsetAnchor();
		}, false);
		window.setTimeout(function() {
		    offsetAnchor();
		}, 1);

		var chapter_nav_link = document.getElementById('chapter_nav_link');
		var chapter_nav = document.getElementById('chapter_nav');
		var alpha_nav_link = document.getElementById('alpha_nav_link');
		var chapter_nav_item = document.getElementById('chapter_nav_item');
		var alpha_nav_item = document.getElementById('alpha_nav_item');
		var alpha_nav = document.getElementById('alpha_nav');
		function chapter_click() {
			if (chapter_nav.className === 'visible nav_drop_up') {
				chapter_nav.className = 'invisible nav_drop_up';
			} else {
				chapter_nav.className = 'visible nav_drop_up';
			}
			if (alpha_nav.className === 'visible nav_drop_up') {
				alpha_nav.className = 'invisible nav_drop_up';
			}
		}

		function alpha_click() {
			if (alpha_nav.className === 'visible nav_drop_up') {
				alpha_nav.className = 'invisible nav_drop_up';
			} else {
				alpha_nav.className = 'visible nav_drop_up';
			}
			if (chapter_nav.className === 'visible nav_drop_up') {
				chapter_nav.className = 'invisible nav_drop_up';
			}
		}

		function body_click(evt) {
			if (evt.target === chapter_nav_item || evt.target === alpha_nav_item) {
				return;
			}
			if (alpha_nav.className === 'visible nav_drop_up') {
				alpha_nav.className = 'invisible nav_drop_up';
			}
			if (chapter_nav.className === 'visible nav_drop_up') {
				chapter_nav.className = 'invisible nav_drop_up';
			}
		}
		document.getElementById('body').addEventListener('click', body_click);
		chapter_nav_link.addEventListener('click', chapter_click);
		alpha_nav_link.addEventListener('click', alpha_click);
	</script>
</body>
</html>