* {
  margin: 0;
}
html, body {
  height: 100%;
}


body {
	background-color: #fff;
}

#master_container {
	margin-top: 70px;    /* Push down to accomodate logo */
}

h2 {
	font-size: 30px;
	color: #aaa;
}

h3 {
	font-size: 23px;
	color: #3d7ff3;
}

a:hover, a:focus {
	color: #fc4731;
	text-decoration: none;
}

.graph_row {
	margin-top: 10px;
}

#top_logo_div{
	position: absolute;
	top: 20px;
	left: 20px;
}

.algo_div {
	background-color: white;
}

.graph_img {
	border: 1px solid #aaa;
	border-radius: 2px;
	height: 100%;
	width: auto;
}

.graph_div {
	text-align: center;
	border-radius: 0px;
}

.chapter_div {
	padding-top: 0px;
	border-radius: 0px;
	margin-top: 80px;
}

.invisible {
	display: none;
}

.visible {
	display: block;
}


.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -80px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.fixed_bottom_nav, .page-wrap:after {
  height: 50px; 
}
.fixed_bottom_nav {
	position: fixed;
	bottom: 0px;
	width: 100%;
  background: -webkit-linear-gradient(left, #a0a0a0 0px, #a0a0a0 60%, #fff 100%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #a0a0a0 0px, #a0a0a0 60%, #fff 100%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #a0a0a0 0px, #a0a0a0 60%, #fff 100%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #a0a0a0 0px, #a0a0a0 60%, #fff 100%); /* Standard syntax */

}

.find_nav_item {
	background-color: #d7d7d7; 
	text-align: center; 
	float: left; 
	height: 100%; 
	font-size: 20px; 
	padding-top: 13px; 
	padding-left: 30px; 
	padding-right: 30px;
}

.nav_item {
	text-align: center; 
	float: left; 
	height: 100%; 
	font-size: 20px; 
	padding-top: 13px; 
	padding-left: 15px; 
	padding-right: 15px; 
	color: #ececec;
}

.drop_up_holder {
	width:0px; 
	padding: 0px;
	float: left;
}

.nav_link {
	color: #ececec;
	cursor: pointer;
}

.nav_drop_up {
	position: absolute;
	margin-left: 0px;
	padding-right: 10px;
	bottom: 50px;
	font-size: 18px;
	padding-left: 0px;
	background-color: #d7d7d7;
	color: #333;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.nav_ul {
	list-style-type: none;
	padding-left: 10px;
}

.nav_ul li {
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #999;
}

.nav_ul a:hover {
	color: #333;
}

#alpha_nav {
	height: 500px;
	overflow-y: scroll;
}

.nav_ul a {
	color: #333;
	text-decoration: none
}

.nav_ul a:hover {
	color: #fc4731;
}


#help_anchor {
	color: #ececec;
	text-decoration: none;
}

a#help_anchor:hover, a#help_anchor:focus {
	color: #fc4731;
}

.invisible {
	display: none;
}

.visible {
	display: block;
}